#schedule {
  background-image: url(./images/blueprint.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
}

.day-header {
  font-size: 1.7em;
  text-align: center;
}

table {
  margin: auto;
  font-size: 1.1em;
  font-weight: 600;
  text-align: left;
}

td {
  padding: 15px 35px;
  width: 70%;
}

td:last-child {
  color: #ffe401;
}

.disabled {
  opacity: 0.2;
}

.active {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.active:hover {
  color: #ffe401;
}

.visible {
  display: block;
}

.collapse {
  display: none;
}

div {
  font-weight: 400;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2.2em;
}

h2 {
  font-weight: 600;
  letter-spacing: 2px;
  margin: 25px 0px;
}

.section-text {
  margin: auto;
  width: 50%;
  font-size: 1.3em;
}

@media only screen and (max-width: 480px) {
  .nav {
    display: none;
  }

  .section-text {
    width: 90%;
    font-size: 1.1em;
  }

  .tool-rack {
    margin-top: 0px;
    flex-direction: column;
  }
}
