.nav {
  position: fixed;
  left: 25px;
  top: 50%;
  display: grid;
}

.nav-icon {
  color: #223c9d;
  transition: opacity 0.3s ease-in-out;
}

.nav-white {
  color: white;
}

.nav-icon:hover {
  opacity: 0.7;
}

.site-content {
  margin: auto;
  max-width: 2200px;
}

.about {
  background-image: radial-gradient(rgba(250, 250, 250, 0.9), rgba(255, 255, 255, 0.9)), url(./images/toolpattern.svg);
  /**background-image: url(./images/colortools-01.svg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
}

.about-text, .tool {
  color: black;
}

.tool-rack {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tool {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  flex-basis: 25%;
  flex-grow: 0;
}

.about-text {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  margin: auto;
  width: 50%;
  font-size: 1.3em;
}

@media only screen and (max-width: 480px) {
  .nav {
    display: none;
  }

  .section-text {
    width: 90%;
  }

  .tool-rack {
    margin-top: 0px;
    flex-direction: column;
  }
}
