.splash {
  background-image: url(./images/splash.svg);
  background-repeat: no-repeat;
  background-size: cover !important;
}

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
