.splash {
  background-image: url(./images/splash.svg);
  background-repeat: no-repeat;
  background-size: cover !important;
  min-height: 100vh;
}

.logo {
  transform: scale(1.1);
}

.headercontainer {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.countdown-registration > span {
  font-size: 1.5em;
}

.countdown-registration > h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
}


.countdown-registration button {
  background-color: #fafafa;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 1.3em;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 50px;
}

.subheader {
  padding: 2%;
}

/* Lana codepen */
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: #FFE401;
  font-weight: 700;
}

li span {
  display: block;
  font-size: 3.5rem;
  color: #FFFFFF;
}
/* END */

@media only screen and (max-width: 480px) {
  .splash {
    background-image: url(./images/mobilesplash.svg);
  }
  .logo {
    width: 85%;
    top: 20%;
  }
  .headercontainer {
    top: 55%;
    width: 85%;
  }
  .countdown-registration {
    padding: 0;
  }
}
