@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700,900&display=swap";

body {
  font-family: "Poppins" !important;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  /*padding-top: 50px;*/
}

@media only screen and (max-width: 480px) {
  section {
    height: auto;
    min-height: 100vh;
  }
}
