@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700,900&display=swap";

body {
  font-family: "Poppins" !important;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  background-attachment: initial !important;

}

/* All nav based CSS configurations */

#fp-nav {
  margin-top: 200px;
}

#fp-nav li {
  padding: 0.25em;
}

#fp-nav ul li a span {
  background: #fff !important;
}

.fp-tooltip {
  font-family: "Poppins" !important;
  font-weight: bold;
}


.fp-viewing-2 #fp-nav ul li a span {
  background: #223c9d !important;
}

.fp-viewing-2 .fp-tooltip {
  color: #223c9d !important;
}


.fp-viewing-4 #fp-nav ul li a span {
  background: #223c9d !important;
}

.fp-viewing-4 .fp-tooltip {
  color: #223c9d !important;
}


.fp-viewing-4 #fp-nav ul li a span {
  background: #223c9d !important;
}

.fp-viewing-4 .fp-tooltip {
  color: #223c9d !important;
}



/* remove that weird underline thing. */
.active:after {
  content: none !important;
}

@media only screen and (max-width: 480px) {
  section {
    height: auto;
    min-height: 100vh;
  }

  .alice-carousel__dots {
    display: none;
  }

  .carousel { 
    padding-bottom: 20px;
  }
}
