.sponsors-section {
  background-image: url(./images/bp2animated.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  min-height: 100vh;
  margin: auto;
  display: flex;
}

.sponsors-container {
  text-align: center;
  margin: auto;
  width: 65%;
}

.sponsors-container Button {
  margin-top: 25px;
  font-size: 1.1em;
  font-weight: 600;
  font-family: Poppins;
  background-color: #fafafa;
  border-radius: 50px;
  width: 34.23125%;
}

.packet-text {
  /*margin-top: 100px;*/
}

.packet-text p {
  font-size: 1.3em;
}

.packet-text a {
  color: black;
  text-decoration: none;
}

.packet-text h3 {
  font-weight: 700;
  font-size: 3em;
}

.packet-text p {
  width: 72%;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .sponsors-container {
    width: 90%;
  }
  .packet-text p, .sponsors-container Button {
    width: 100%;
  }
}
